<div class="row">
  <div class="col s6 offset-s3">
    <div class="card blue-grey darken-1">
      <div class="card-action white-text">

        <h2 class="center underline" id="textsize">{{name}}</h2>
        <div id="singleitem" >
          <p>{{description}}</p>
          <p>Made by: {{manufacturer}}</p>
          <p>Color: {{color}}</p>
          <p>Year: {{year}}</p>
          <p>Posted on {{format_date date_created}}</p>
          <p>
            <span>Cost: $</span>
            <span class="dollar-amount">{{format_amount price}}</span>
          </p>
        </div>

        <div class="center">
          <a href="/"><button class="btn">Back to homepage</button></a>
          <button class="btn">Inquire about this item!</button>
        </div>
      </div>
    </div>
  </div>
</div>


{{!-- handlebar that will handle a single view of an item --}}