<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row">
  {{#if items.length}}
    <h3>My Posts:</h3>

    <div class="row">
      {{#each items as |item| }}
      <div class="col s12 m6 l3">
        <div class="card">
          <div class="card-image">
            <img src="../assets/images/placeholder.jpg" id="img">
          </div>
          <div class="card-content">
            <a class="card-item-name name" href="/item/{{item.id}}">{{item.name}}</a>
            <p>${{item.price}}</p>
            <p>Posted: {{format_date item.date_created}}</p>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  {{/if}}
  <div class="offset-s3">
    <h3>Create a New Post:</h3>

    <form class="form row new-item-form">

      <div class="">
        <div class="form-group input-field col s12 m6">
          <label for="item-name">Item Name</label>
          <input id="item-name" type="text" class="validate" name="item-name">
        </div>
      </div>

      <div class="">
        <div class="form-group input-field col s12 m6">
          <label for="item-price">Price</label>
          <input id="item-price" type="number" class="validate" name="item-price">
        </div>
      </div>

      <div class="">
        <div class="form-group input-field col s12 m6">
          <label for="item-manufacturer">Manufacturer</label>
          <input id="item-manufacturer" type="text" class="validate" name="item-manufacturer">
        </div>
      </div>

      <div class="">
        <div class="form-group input-field col s12 m6">
          <label for="item-color">Color</label>
          <input id="item-color" type="text" class="validate" name="item-color">
        </div>
      </div>

      <div class="" id="category">
        <div class="form-group input-field col s12 m6">
          <label id="category-label">Select A Category</label>
          <select id="dropdown" class="browser-default">
            <option value="" disabled selected>Choose your option</option>
            <option value="1">Cars</option>
            <option value="2">Electronics</option>
            <option value="3">Instruments</option>
            <option value="4">Tools</option>
            <option value="5">Sporting Equipment</option>
            <option value="6">Furniture</option>
            <option value="7">Appliances</option>
          </select>
        </div>
      </div>

      <div class="">
        <div class="form-group input-field col s12 m6">
          <label for="item-year">Year Manufactured</label>
          <input id="item-year" type="number" class="validate" name="item-year">
        </div>
      </div>

      <div class="">
        <div class="form-group col s12">
          <label for="item-desc">Description:</label>
          <textarea class="form-input" id="item-desc" name="item-desc"></textarea>
        </div>
      </div>

      <div class="">
        <div class="form-group col s12">
          <button type="submit" class="btn btn-primary">Create</button>
        </div>
      </div>

    </form>
  </div>

</div>

<script src="./js/profile.js"></script>